fastapi
uvicorn
python-multipart
pypdf
python-docx
python-pptx
sentence-transformers>=2.7.0
faiss-cpu
numpy
rustworkx
groq
python-dotenv
PyJWT
bcrypt
pydantic
email-validator
langgraph
langchain
langchain-groq
httpx
websockets
pytest
pytest-cov
cerebras-cloud-sdk
openai